# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=db_username
DB_PASSWORD=db_password
DB_NAME=lmwn2026
DB_SYNCHRONIZE=false
DB_LOGGING=false
DB_SSL=false
DB_MAX_CONNECTIONS=10

# Application Configuration
PORT=3000
NODE_ENV=development
API_PREFIX=api
FRONTEND_URL=http://localhost:5173,https://pos.example.com
